@import 'tailwindcss';

@layer base {
  input,
  textarea,
  select {
    @apply border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
  button {
    @apply cursor-pointer;
  }
  .active {
    @apply rounded-md bg-gray-500 px-3 py-2 text-sm font-medium text-white;
  }
  .card__image {
    @apply aspect-16/12;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
}
